:root body {
	--line-width: min(40em, calc(100vw - 2em));
	--line-width-adaptive: min(40em, calc(100vw - 2em));
	--file-line-width: min(40em, calc(100vw - 2em));
	--sidebar-width-right: min(20em, 80vw);
	--sidebar-width-left: min(20em, 80vw)
}

body {
	--zoom-factor: 1 !important;
	--font-text-size: 16px !important;
	--indent-size: 4
}

#center-content>.obsidian-document {
	padding-top: 72px;
	padding-right: 2em !important;
}

#left-sidebar,
#right-sidebar {
	z-index: 11;
}

#left-sidebar.is-collapsed,
#right-sidebar.is-collapsed {
	z-index: 1;
}

.sidebar.is-collapsed .topbar-content {
	display: none;
}

.sidebar.is-collapsed .sidebar-collapse-icon svg {
	width: 36px !important;
	height: 36px !important;
}

.sidebar.is-collapsed .sidebar-collapse-icon {
	position: fixed;
	width: 50% !important;
	height: 64px !important;
	margin-inline: 0;

	display: flex;
	flex-direction: row;

	border-radius: 0;
	padding: 20px !important;
}

.theme-dark .sidebar.is-collapsed .sidebar-collapse-icon {
	background-color: rgba(16, 16, 16, 0.92);
}

.theme-light .sidebar.is-collapsed .sidebar-collapse-icon {
	background-color: rgba(240, 240, 240, 0.92);
}

#left-sidebar.sidebar.is-collapsed .sidebar-collapse-icon {
	position: fixed;
	left: 0;
	justify-content: flex-start;
	transform: translateZ(0);

}


#right-sidebar.sidebar.is-collapsed .sidebar-collapse-icon {
	left: auto;
	right: 0;
	justify-content: flex-end;
	transform: translateZ(0);
}