@use "./base.scss";

// put your custom CSS here!

::selection {
	background: color-mix(in srgb, var(--secondary) 24%, #fff0) !important;
}

.medium-zoom-overlay {
	z-index: 998;
	backdrop-filter: blur(6px);
}

html[saved-theme="dark"] .medium-zoom-overlay {
	background-color: rgba(16, 16, 16, 0.24) !important;
}

html[saved-theme="light"] .medium-zoom-overlay {
	background-color: rgba(240, 240, 240, 0.24) !important;
}

.medium-zoom-image {
	z-index: 999;
}

.page>#quartz-body .center>article {
	display: flex;
	flex-direction: column;
	gap: 0px;
}

.page>#quartz-body .center>article p {
	margin-top: 0;
	margin-bottom: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.5rem;
}

img {
	border-radius: 0 !important;
	margin: 0.75rem 0 0 !important;
}

th {
	border: none !important;
}

tr {
	border: 1px solid var(--lightgray) !important;
}

tr:has(th:empty) {
	display: none;
}