@use "./base.scss";

// put your custom CSS here!

.medium-zoom-overlay {
	z-index: 998;
	backdrop-filter: blur(6px);
}

html[saved-theme="dark"] .medium-zoom-overlay{
	background-color: rgba(16, 16, 16, 0.24) !important;
}

html[saved-theme="light"] .medium-zoom-overlay{
	background-color: rgba(240, 240, 240, 0.24) !important;
}

.medium-zoom-image {
	z-index: 999;
}

img {
	border-radius: 0 !important;
	margin: 0.75rem 0 0 !important;
}

th {
	border: none !important;
}

tr {
	border: 1px solid var(--lightgray) !important;
}

tr:has(th:empty) {
  display: none;
}